
<div class="container ">
  <div class="card" style="max-width: 100%;">
      <div class="card-header text-white bg-title mb-3 mt-2">CONSULTA DE INVESTIGACIONES</div>
    <div class="card-body">
        <!--     
                <div class="form-check ">
                    <div class="row">
            
                        <div class="col-sm-6" style="font-size: small"><input name="optionss" [(ngModel)]="optionss" type="radio"
                                [value]="10" [checked]="optionss" /> Monto reclamado:</div>
                        <div class="col-sm-6" style="font-size: small"><input name="optionss" [(ngModel)]="optionss" type="radio"
                                [value]="01" [checked]="!optionss" /> Competencia:</div>
            
                    </div>
                    <div *ngIf="optionss == 10">
                        <p>este es por que seleciono 1</p>
                    </div>
                    <div *ngIf="optionss == 01">
                        <p>este es por que seleciono 0</p>
                    </div>
                </div> -->
    
    
        <form [formGroup]="formInvestigacion">
    
            <div class="card">
                <div class="card-header bg-titlecard mb-3">Parámetros de Búsqueda</div>
    
                <div class="form-group row">
    
                    <div class="mb-3 row ">
                        <div class="form-check col-auto">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                value="option1">
                            <label class="form-check-label" for="exampleRadios1">Fecha de Emisión:</label>
                        </div>
                        <!-- <label class="col-sm-3 col-form-label" for="añodel">Apellidos y Nombres:</label> -->
    
                        <div class="col-auto">
                            <label for="fechadel" class="col-lg-4 control-label">Desde:</label>
                            <div>
                                <input type="date" />
                            </div>
                        </div>
                        <div class="col-auto">
                            <label for="fechadel" class="col-lg-4 control-label">Hasta:</label>
                            <div>
                                <input type="date" />
                            </div>
                        </div>
    
                    </div>
    
                </div>
                <div class="form-group row">
                    <div class="mb-3 row ">
                        <div class="form-check col-auto">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                Nro de Investigación:
                            </label>
                        </div>
    
                        <div class="col-auto">
                            <label for="fechadel" class="col-lg-4 control-label">Tipo:</label>
                            <div>
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                    <option value="1">Nota de Agente</option>
                                    <option value="2">SOLICITUD DRAWBACK</option>
    
                                </select>
                            </div>
                        </div>
                        <div class="col-auto">
                            <label for="fechadel" class="col-lg-4 control-label">Año:</label>
                            <div>
                                <input type="number" />
                            </div>
                        </div>
                        <div class="col-auto">
                            <label for="fechadel" class="col-lg-4 control-label">Del:</label>
                            <div>
                                <input type="number" />
                            </div>
                        </div>
                        <div class="col-auto">
                            <label for="fechadel" class="col-lg-4 control-label"></label>
                            <div>
                                <p>-</p>
                            </div>
                        </div>
                        <div class="col-auto">
                            <label for="fechadel" class="col-lg-4 control-label">Al:</label>
                            <div>
                                <input type="number" />
                            </div>
                        </div>
    
                    </div>
    
                </div>
    
            </div>
    
            <br>
    
    
            <div class="card">
                <div class="card-header bg-titlecard mb-3">Parámetros de Búsqueda</div>
    
                <div class="form-group row">
    
                    <div class="mb-3 row ">
                        <div class="form-check col-auto">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Estado de Documento:
                            </label>
                        </div>
                        <div class="col-auto">
    
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                                [disabled]="true">
                                <option value="1">Nota de Agente</option>
                                <option value="2">SOLICITUD DRAWBACK</option>
    
                            </select>
    
                        </div>
    
    
                    </div>
    
                </div>
                <div class="form-group row">
                    <div class="mb-3 row ">
                        <div class="form-check col-auto">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Modalidad de Delito:
                            </label>
                        </div>
    
                        <div class="col-auto">
                            <label for="fechadel" class="col-lg-6 control-label">Tipo de Ilícito:</label>
                            <div>
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                                    style="width: 200px" [disabled]="true">
                                    <option value="1">Nota de Agente</option>
                                    <option value="2">SOLICITUD DRAWBACK</option>
    
                                </select>
                            </div>
                        </div>
                        <div class="col-auto">
                            <label for="fechadel" class="col-lg-8 control-label">Sub-Tipo de Ilícito:</label>
                            <div>
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                                    style="width: 200px" [disabled]="true">
                                    <option value="1">Nota de Agente</option>
                                    <option value="2">SOLICITUD DRAWBACK</option>
    
                                </select>
                            </div>
                        </div>
    
                    </div>
    
                </div>
                <div class="form-group row">
    
                    <div class="mb-3 row ">
                        <div class="form-check col-auto">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Grupo de Mercancia:
                            </label>
                        </div>
                        <div class="col-auto">
                            <div>
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                                    style="width: 300px" [disabled]="true">
                                    <option value="1">SELECCIONAR</option>
    
    
                                </select>
                            </div>
                        </div>
    
    
                    </div>
    
                </div>
            </div>
    
    
            <div class="form-group row" style="justify-content: center; text-align: center;">
                <label for="txt" class="col-sm-12 col-form-label">Los campos marcados con asterisco (*) son
                    obligatorios</label>
            </div>
    
    
            <div class="form-group row" style="justify-content: center; margin-top: 1em;">
                <div class="col-sm-2">
                    <button type="button" class="btn bg-button" routerLink="/denuncia/resultado-busqueda-investigacion">&nbsp;&nbsp;Consultar&nbsp;&nbsp;</button>
                </div>
                
               
            </div>
    
    
    
            <br>
    
        </form>
    
    
    </div>
  </div>


</div>