.bg-title{
  background-color: #064195;
  text-align: center;
}
.bg-button{
  background-color: #3492bb;
  color : white;
}
.bg-titlecard {
  background-color: #3492bb;
  color : white;
}


.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * 0.5);
  margin-left: calc(var(--bs-gutter-x) * 0.5);
}


.column {
  float: left;
  width: 50%;
}


.n_top {
  margin-top: 5px;
}


.mat-form-field {
  font-size: 14px;
  width: 100%;
}



.anio {
  display: block !important;
  width: 100% !important;
  /*padding: .375rem .75rem !important;*/
  margin-bottom: 2px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
