<div class="container">
  <div class="card-header text-white bg-title mb-3">
    Resultado de Búsqueda
  </div>
  <div style="max-width: 100%">
    <table class="table table-bordered ">
      <thead class="bg-title text-white">
        <tr>
          <th scope="col">Número</th>
          <th scope="col">Fecha Numeración</th>
          <th scope="col">Origen</th>
          <th scope="col">Estado</th>
          <th scope="col">Responsable Actual</th>
          <th scope="col">Denunciante</th>
          <th scope="col">Denunciado</th>
          <th scope="col">Puntaje Inicial</th>
          <th scope="col">Pntaje Final</th>
          <th scope="col">Informacion Complementaria</th>
          <th scope="col">Trazabilidad</th>
        </tr>
      </thead>
      <tbody>
        <ng-container >
          <tr *ngFor="let denuncia of lstdenuncia | paginate: { itemsPerPage: 10, currentPage: page }">
            <th scope="row"><button type="button" class="btn btn-link"
                (click)="modalReposrteDenuncia()">{{denuncia.codDenuncia}}</button></th>
            <td>{{denuncia.fecNumeracion}}</td>
            <td>{{denuncia.desTipoOrigen}}</td>
            <td>-</td>
            <td>-</td>
            <td>{{denuncia.desDenunciante}}</td>
            <td>{{denuncia.desDenunciado}}</td>

            <td>{{denuncia.porcPuntajeInicial}}</td>
            <td>{{denuncia.porcPuntajeFinal}}</td>
            <td>{{denuncia.linkDenuncia.rel}}</td>
            <td><button type="button" class="btn btn-link">Ver</button></td>
          </tr>
        </ng-container>

      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-12 text-center">

      <button class="btn btn-sm btn-primary m-1 shadow" style="min-width: 200px;" type="button"  (click)="excel()">Exportar a excel</button>
      <button class="btn btn-sm btn-primary m-1 shadow" style="min-width: 200px;" type="button"
        routerLink="/denuncia/consulta-denuncia">Retornar</button>
    </div>
  </div>
</div>

<ng-template #templateReporteDenuncia>
  <div class="modal " style="display: block" id="templateshowTerminosYcondiciones" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header bg-title  text-white" style="height: 40px ">

          <h4 class="modal-title " id="modal-basic-title">
            Consulta de la Denuncia
          </h4>


          <button type="button" class="close pull-right" aria-label="Close" (click)="modalReporteDenuncia?.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4 style="text-align: center">REPORTE DE LA DENUNCIA</h4>
          <div class="row align-items-start">
            <div class="col">
              <p>Número: DEN-316-2022-15</p>
            </div>
            <div class="col">
              <p>ORIGEN DE DENUNCIA: WEB</p>
            </div>
            <div class="col">
              <p>FECHA NUMERACIÓN: 15/05/2022 10.15</p>
            </div>
          </div>
          <div class="row align-items-start">
            <div class="col">
              <p class="form-check-inline">¿Denuncia Anónima?</p>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                  value="option1" />
                <label class="form-check-label" for="inlineRadio1">Si</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                  value="option2" />
                <label class="form-check-label" for="inlineRadio2">No</label>
              </div>
            </div>
            <div class="col">
              <p>Puntaje Inicial: 95%</p>
            </div>
            <div class="col">
              <p>Puntaje Final: 89%</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="bg-secondary card-header fw-bold color-white">
                  I. Datos del Denunciante
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-xs-12">
                      <div class="form-group">
                        <label class="small fw-bold">Tipo de Documento</label>
                        <input [value]="" class="form-control form-control-sm small bg-white" readonly />
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-xs-12">
                      <div class="form-group">
                        <label class="small fw-bold">Número de Documento:</label>
                        <input [value]="" class="form-control form-control-sm small bg-white" readonly />
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-xs-12">
                      <div class="form-group">
                        <label class="small fw-bold">Dígito Verificador:</label>
                        <input [value]="" class="form-control form-control-sm small bg-white w-25" readonly />
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-xs-12">
                      <div class="form-group">
                        <label class="small fw-bold">Fecha de Emisión:</label>
                        <input [value]="" class="form-control form-control-sm small bg-white" readonly />
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                      <div class="form-group">
                        <label class="small fw-bold">Apellidos y Nombres / Razón Social:</label>
                        <input [value]="" class="form-control form-control-sm small bg-white" readonly />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <label class="small fw-bold">Números del denunciante</label>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                      <table class="table table-hover table-bordered small text-center mb-0">
                        <thead class="bg-secondary color-white">
                          <tr>
                            <th>Nro</th>
                            <th>Tipo</th>
                            <th>Código</th>
                            <th>Número</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>celular</td>
                            <td>1</td>
                            <td>965385904</td>
                          </tr>

                        </tbody>
                      </table>
                      <label class="small fw-bold">Correo Electrónico: </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="bg-secondary card-header fw-bold color-white">
                  II. Datos del Denunciado
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-xs-12">
                      <div class="form-group">
                        <label class="small fw-bold">Alias:</label>
                        <input [value]="1" class="form-control form-control-sm small bg-white" readonly />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-xs-12">
                      <div class="form-group">
                        <label class="small fw-bold">Tipo de Documento:</label>
                        <input [value]="1" class="form-control form-control-sm small bg-white" readonly />
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-xs-12">
                      <div class="form-group">
                        <label class="small fw-bold">Nro de Documento:</label>
                        <input [value]="2" class="form-control form-control-sm small bg-white" readonly />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                      <div class="form-group">
                        <label class="small fw-bold">Apellidos y Nombres y/o Razón Social:</label>
                        <input [value]="3" class="form-control form-control-sm small bg-white" readonly />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="bg-secondary card-header fw-bold color-white">
                  III. Datos de la Denuncia
                </div>
                <div class="card-body">
                  <div class="row">
                    <p>1. ¿Qué delito o infracción se ha cometido o está por cometerse?</p>
                    <table class="table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              <label class="form-check-label" for="flexCheckDefault">
                                Tráfico ilicito de mercancias
                              </label>
                            </div>
                          </th>
                          <th>Ingresar o extraer del pais mercancias ilegales: restringidas</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>

                          <td colspan="2">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              <label class="form-check-label" for="flexCheckDefault">
                                Tráfico ilícit de sustamcias tóxicas, estupefacientes
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              <label class="form-check-label" for="flexCheckDefault">
                                Ingresar o extraer del pais dinero no declarado
                              </label>
                            </div>
                          </td>

                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p class="form-check-inline">2. ¿Conoce las mercancías que son materia de denuncia?</p>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                          value="option1" />
                        <label class="form-check-label" for="inlineRadio1">Si</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                          value="option2" />
                        <label class="form-check-label" for="inlineRadio2">No</label>
                      </div>
                    </div>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Nro</th>
                          <th scope="col">Descripcion de Mercancia</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Medicamentos sin marca</td>

                        </tr>


                      </tbody>
                    </table>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p class="form-check-inline">3. ¿Conoce si el hecho denunciado está asociada a una DAM u otro
                        documento?</p>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                          value="option1" />
                        <label class="form-check-label" for="inlineRadio1">Si</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                          value="option2" />
                        <label class="form-check-label" for="inlineRadio2">No</label>
                      </div>
                    </div>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Nro</th>
                          <th scope="col">Tipo de Documento</th>
                          <th scope="col">Número de Documento</th>
                          <th scope="col">Fecha Doc.</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>DECLARACION ADUANERA DE MERCANCIAS</td>
                          <td>118-2022-40-100</td>
                          <td>05/10/2022</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p class="form-check-inline">4. ¿Conoce la dirección o ubicación exacta del hecho denunciado?</p>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                          value="option1" />
                        <label class="form-check-label" for="inlineRadio1">Si</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                          value="option2" />
                        <label class="form-check-label" for="inlineRadio2">No</label>
                      </div>
                    </div>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Nro</th>
                          <th scope="col">Departamento</th>
                          <th scope="col">Provincia</th>
                          <th scope="col">Distrito</th>
                          <th scope="col">Ubigeo</th>
                          <th scope="col">Direcccion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>LIMA</td>
                          <td>LIMA</td>
                          <td>LURIN</td>
                          <td>15019</td>
                          <td>av los anfeles</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p class="form-check-inline">5. ¿Conoce los lugares y rutas que se han utilizado o que se van a
                        utilizar?</p>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                          value="option1" />
                        <label class="form-check-label" for="inlineRadio1">Si</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                          value="option2" />
                        <label class="form-check-label" for="inlineRadio2">No</label>
                      </div>
                    </div>
                    <label for=""></label>
                    <input type="text">
                  </div>

                  <div class="row">
                    <div class="col">
                      <p>6. ¿Cuándo se cometió el hecho denunciado o cuando va a suceder?</p>
                      <label for="" class="form-check-inline">Fecha inicio</label>
                      <input type="text" name="" id="">
                      <label for="">Fecha inicio</label>
                      <input type="text" name="" id="">
                    </div>

                  </div>
                  <div class="row">
                    <div class="col">
                      <p class="form-check-inline">7. ¿Conoce las placas de los vehículos o medios de transporte del
                        denunciado?</p>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                          value="option1" />
                        <label class="form-check-label" for="inlineRadio1">Si</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                          value="option2" />
                        <label class="form-check-label" for="inlineRadio2">No</label>
                      </div>
                    </div>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Nro</th>
                          <th scope="col">Pais</th>
                          <th scope="col">Medio de Transporte</th>
                          <th scope="col">Placa 1</th>
                          <th scope="col">Placa 2</th>
                          <th scope="col">Placa 3</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Peru</td>
                          <td></td>
                          <td></td>
                          <td>AGV-01</td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p class="form-check-inline">8. ¿Conoce los números de celular o teléfono fijo del denunciado?</p>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                          value="option1" />
                        <label class="form-check-label" for="inlineRadio1">Si</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                          value="option2" />
                        <label class="form-check-label" for="inlineRadio2">No</label>
                      </div>
                    </div>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Nro</th>
                          <th scope="col">Tipo</th>
                          <th scope="col">Codig Telefónico</th>
                          <th scope="col">Número</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Celular</td>
                          <td>51</td>
                          <td>965385904</td>

                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p class="form-check-inline">9. ¿Conoce los correos electrónicos del denunciado?</p>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                          value="option1" />
                        <label class="form-check-label" for="inlineRadio1">Si</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                          value="option2" />
                        <label class="form-check-label" for="inlineRadio2">No</label>
                      </div>
                    </div>
                    <label for=""></label>
                    <input type="text" placeholder="cparias@gmail.com.pe">
                  </div>
                  <br>
                  <div class="row">
                    <div class="col">
                      <p class="form-check-inline">10. ¿Conoce de otras personas vinculadas al denunciado?</p>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                          value="option1" />
                        <label class="form-check-label" for="inlineRadio1">Si</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                          value="option2" />
                        <label class="form-check-label" for="inlineRadio2">No</label>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group form-check-inline">
                          <label class="small fw-bold">Tipo de Documento</label>
                          <input [value]="" class="form-control form-control-sm small bg-white" readonly />
                        </div>

                        <div class="form-group form-check-inline">
                          <label class="small fw-bold">Número de Documento:</label>
                          <input [value]="" class="form-control form-control-sm small bg-white" readonly />
                        </div>

                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="form-group">
                          <label class="small fw-bold">Apellidos y Nombres</label>
                          <input [value]="" class="form-control form-control-sm small bg-white" readonly />
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col">
                      <p class="form-check-inline">11. ¿Conoce de otras empresas vinculadas al denunciado?</p>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                          value="option1" />
                        <label class="form-check-label" for="inlineRadio1">Si</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                          value="option2" />
                        <label class="form-check-label" for="inlineRadio2">No</label>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group form-check-inline">
                          <label class="small fw-bold">Tipo de Documento</label>
                          <input [value]="" class="form-control form-control-sm small bg-white" readonly />
                        </div>

                        <div class="form-group form-check-inline">
                          <label class="small fw-bold">Número de Documento:</label>
                          <input [value]="" class="form-control form-control-sm small bg-white" readonly />
                        </div>

                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="form-group">
                          <label class="small fw-bold">Razon social</label>
                          <input [value]="" class="form-control form-control-sm small bg-white" readonly />
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col">
                      <p class="form-check-inline">12. ¿Nos puede describir los hechos denunciados y aportar algún otro dato adicional?</p>

                    </div>
                    <label for=""></label>
                    <input type="text" placeholder="cparias@gmail.com.pe">
                  </div>
                  <br>
                  <div class="row">
                    <div class="col">
                      <p class="form-check-inline">13. archivos adjuntos d epruebas vinculadas a su denuncia</p>
                    </div>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Nro</th>
                          <th scope="col">Archivo</th>
                          <th scope="col">Detalle</th>
                          <th scope="col">Tamaño</th>
                          <th scope="col">Descargar Archivo</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>imagenprueba.jpg</td>
                          <td>evidencias de hechos iniciales</td>
                          <td>128kb</td>
                          <td><fa-icon [icon]="faDownload"></fa-icon></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col">
                      <p class="form-check-inline">14. ¿Desea ser contactado para colaborar con la investigación o conocer el estado de su denuncia?</p>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                          value="option1" />
                        <label class="form-check-label" for="inlineRadio1">Si</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                          value="option2" />
                        <label class="form-check-label" for="inlineRadio2">No</label>
                      </div>
                    </div>
                    <p>los siguientes datos seran utilizados para contacto con usted</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Nro</th>
                          <th scope="col">Tipo</th>
                          <th scope="col">Codig Telefónico</th>
                          <th scope="col">Número</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Celular</td>
                          <td>51</td>
                          <td>965385904</td>

                        </tr>
                      </tbody>
                    </table>

                    <p>correo electronico : soloes@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="container">
            <div class="row">

              <div class="col " style="text-align: center;">

                <button type="button" class=" btn btn-primary bg-buton btn-xg  text-color" >
                  Exportar a Excel
                </button>
                <button type="button" class=" btn btn-primary bg-buton btn-xg  text-color" style="margin-left: 10px">
                  Exportar a Pdf
                </button>

                <button type="button" class="  btn btn-primary bg-buton btn-xg text-color" style="margin-left: 10px"
                  (click)="modalReporteDenuncia?.hide()">
                  Cerrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<pagination-controls (pageChange)="page = $event" 

previousLabel="Anerior"
nextLabel="Siguiente"
> </pagination-controls>