
<div class="container ">

  <div class="card" style="max-width: 100%;" >
      <div class="card-header text-white bg-title mb-3 mt-2">CONSULTA DE DENUNCIA</div>
      
    <div class="card-body">
    <form [formGroup]="formularioDenuncia" >
    
      <div class="card">
        <div class="card-header bg-titlecard mb-3">Parámetros de Búsqueda</div>

        <div class="form-row">
        
          <div class="form-group mb-3 row ms-2">
            <div class="form-check col-auto">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click)="habilitadoradiofecha()" >
              <label class="form-check-label" for="flexRadioDefault1">
                Fecha de Emisión:
              </label>
            </div>

        
            <div class="col-auto"  >
              <label for="denunciadesde" class="col-lg-4 control-label">Desde:</label>
              <div >
                <input type="date" formControlName="denunciadesde" class="form-control" />
                
              </div>
            </div>
            <div class="col-auto">
              <label for="denunciahasta" class="col-lg-4 control-label">Hasta:</label>
              <div>
                <input type="date" formControlName="denunciahasta" class="form-control" />
              </div>
            </div>
                  </div>
                </div>
        <div class="form-row">
          <div class="mb-3 row ms-2">
            <div class="form-check col-auto">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" (click)="habilitadoradiodenuncia()" >
              <label class="form-check-label" for="flexRadioDefault2">
                Nro de Denuncia:
              </label>
            </div>
   
    
            <div class="col-auto">
              <label for="denunciaaño" class="col-lg-4 control-label">Año:</label>
              <div>
                <input type="number" formControlName="denunciaaño" class="form-control"  title="el año no puede ser menor al actual"/>
              </div>
              <!-- <span>{{ getError('denunciaaño')}}</span> -->
              <span class="p-color"*ngIf="formularioDenuncia.get('denunciaaño')!.hasError('matchaño')">el año no puede ser menor al actual</span>
            <!-- placeholder="{{fecha|date: 'yyyy'}}" -->
            </div>
            <div class="col-auto">
              <label for="denunciadel" class="col-lg-4 control-label">Del:</label>
              <div>
                <input  type="number" id="denunciadel" formControlName="denunciadel" class="form-control"  required  />
              </div>
              <p class="p-color" *ngIf="formularioDenuncia.get('denunciadel')!.hasError('required') &&
              formularioDenuncia.get('denunciadel')!.touched">el campo no puede ser vacio</p>
            </div>
            <div class="col-auto">
              <label for="fechadel" class="col-lg-4 control-label"></label>
              <div>
                <p><Strong>-</Strong></p>
              </div>
            </div>
            <div class="col-auto">
              <label for="denunciaal" class="col-lg-4 control-label">Al:</label>
              <div>
                <input  type="number" formControlName="denunciaal" id="denunciaal" class="form-control"/>
              </div>
              <p class="p-color" *ngIf="formularioDenuncia.get('denunciaal')!.hasError('required') &&
              formularioDenuncia.get('denunciaal')!.touched">el campo no puede ser vacio</p>
            </div>
    
          </div>
    
        </div>
          </div>
      <br>    
      <div class="card">
        <div class="card-header bg-titlecard mb-3">Criterios Adicional de Búsqueda (Opcinal):</div>
    
        <div class="form-group row">
    
          <div class="mb-3 row ms-2">
            <div class="form-check col-auto" >
              <input #estado class="form-check-input" type="checkbox"  id="estado"  [checked]="checkvalueEstado" (change)="habilitarcomboEstado(estado.checked)">
              
              <label class="form-check-label" for="estado">
                Estado Denuncia:
              </label>
            </div>
            <div class="col-auto">
    
              <select class="form-select form-select-sm" aria-label=".form-select-sm example"  formControlName="denunciaestado" >
                <option value="01">01 - NUMERADO</option>
                <option value="02">02 - EN PROCESO</option>
                <option value="03">03 - REVISADO</option>
                <option value="04">04 - VISADO</option>
                <option value="05">05 - AUTORIZADO</option>
                <option value="06">06 - EN EVALUACIÓN</option>
                <option value="07">07 - CONCLUIDO</option>
                <option value="08">08- INCONSISTENTE</option>
    
              </select>
              <!-- [disabled]="!checkvalueEstado" recurso para select-->
            </div>
            <div class="form-check col-auto">
              <input #denuncia class="form-check-input" type="checkbox" value="" id="denuncia" [checked]="checkvalueOrigen" (change)="habilitarcomboOrigen(denuncia.checked)" >
              <label class="form-check-label" for="denuncia">
                Origen Denuncia:
              </label>
            </div>
            <div class="col-auto">
    
              <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="denunciaorigen" >
                
                <option value="01">WEB</option>
                <option value="02">INTERNO</option>
                <option value="03">EXPEDIENTE</option>
                <option value="04">CORREO ELECTRÓNICO</option>
                <option value="05">LLAMADA TELEFÓNICA</option>
                <option value="06">PRESENCIAL</option>
    
              </select>
    
            </div>
          </div>
    
        </div>
        <div class="form-group row">
          <div class="mb-3 row ms-2">
            <div class="form-check col-auto">
              <input #ubigeo class="form-check-input" type="checkbox" value="" id="ubigeo" (change)="habilitarcomboUbigeo(ubigeo.checked)">
              <label class="form-check-label" for="estado">
                Lugar Ocurrencia:
              </label>
            </div>
 
            <div class="col-auto">
              <label for="Departamento" class="col-lg control-label">Departamento:</label>
              <div>
                <select class="form-select" aria-label="Default select example" (change)="onChangeDep($event)" formControlName="selectdep" >
                  <option selected>-- Selecionar --</option>
                  <option *ngFor="let dep of lstDepartamento " [value]="dep">{{dep}}</option>
                </select>
              </div>
            </div>
            <div class="col-auto">
              <label for="Provincia" class="col-lg-8 control-label">Provincia:</label>
              <div>
                <select class="form-select input-sm" aria-label="Default select example" (change)="onChangeProv($event)" formControlName="selectprov">
                  <option selected>-- Selecionar --</option>
                  <option *ngFor="let prov of lstProvincia " [value]="prov">{{prov}}</option>
    
                </select>
              </div>
            </div>
            <div class="col-auto">
              <label for="Distrito" class="col-lg-8 control-label">Distrito:</label>
              <div>
                <select class="form-select" aria-label="Default select example" formControlName="selectdist">
                  <option selected>-- Selecionar --</option>
                  <option *ngFor="let dist of lstDistrito " [value]="dist">{{dist}}</option>
    
                </select>
              </div>
            </div>
    
          </div>
    
        </div>

      </div>       
      <!-- <div class="form-group row" style="justify-content: center; text-align: center;">
        <label for="txt" class="col-sm-12 col-form-label">Los campos marcados con asterisco (*) son
          obligatorios</label>
      </div>         -->
      <div class="form-group row" style="justify-content: center; margin-top: 1em;">
        <div class="col-sm-2">
           <button type="button" class="btn bg-button"
            (click)="obtnerlIstaDenuncia()" routerLink="/denuncia/resultado-busqueda" [disabled]="formularioDenuncia.invalid">&nbsp;&nbsp;Consultar&nbsp;&nbsp;</button>
        </div>
        
      </div>  
      <div class="form-group row" style="justify-content: center; margin-top: 1em;">
        <button type="button" class="btn bg-button" (click)="register()">probando</button>
      </div>

          <br>
        </form>       
    </div>
  </div>
</div>
            

