.bg-title {
    background-color: #1F519D;
    text-align: center;
  }
.nav-link{
    color: grey !important;
  }
  
  .nav-link.active{
    color: black !important;
  }
  
  .custom-dialog-container .mat-dialog-container {
    padding: unset;
  }
  .title{
    color: black;
  }
  .bg-titlecard {
    background-color: #3492bb;
    color : white;
  }
  .bg-button{
    background-color: #3492bb;
    color : white;
  }
.p-color{
  color: red;
}