<div class="container">
    <div class="card-header text-white bg-title mb-3">
      Resultado de Búsqueda
    </div>
    <div style="max-width: 100%">
      <table class="table table-bordered ">
        <thead class="bg-title text-white">
          <tr>
            <th scope="col">Tipo Documento</th>
            <th scope="col">Nro. Documento</th>
            <th scope="col">Fecha Numeración</th>
            <th scope="col">Numerdo por</th>
            <th scope="col">Estado</th>
            <th scope="col">Responsale Actual</th>
            <th scope="col">Documento Precedente</th>
            <th scope="col">Trazabilidad</th>
            
          </tr>
        </thead>
        <tbody>
          <ng-container >
            <tr >
              <td scope="row">NOTA DE AGENTE</td>
              <td scope="row"><button type="button" class="btn btn-link"
              (click)="modalReposrteDenuncia()">NAE</button></td>
              <td>54</td>
              <td>PROCESO</td>
              <td>JORGE CANALES SALAS</td>
              <td>54</td>
              <td>45</td>
  
              <td><button type="button" class="btn btn-link">Ver</button></td>
            </tr>
            <tr >
                <td scope="row">NOTA DE INTELIGENCIA</td>
                <td scope="row"><button type="button" class="btn btn-link"
                (click)="modalNotaInteligencia()">NIE</button></td>
                <td>54</td>
                <td>PROCESO</td>
                <td>JORGE CANALES SALAS</td>
                <td>54</td>
                <td>45</td>
    
                <td><button type="button" class="btn btn-link">Ver</button></td>
              </tr>
              <tr >
                <td scope="row">ORDEN DE BUSQUEDA</td>
                <td scope="row"><button type="button" class="btn btn-link"
                (click)="modalPropuestaInvestigacioon()">OBE</button></td>
                <td>54</td>
                <td>PROCESO</td>
                <td>JORGE CANALES SALAS</td>
                <td>54</td>
                <td>45</td>
    
                <td><button type="button" class="btn btn-link">Ver</button></td>
              </tr>
              <tr >
                <td scope="row">PROPUESTA DE INVESTIGACION</td>
                <td scope="row"><button type="button" class="btn btn-link"
                (click)="modalPropuestaInvestigacioon()">PIV</button></td>
                <td>54</td>
                <td>PROCESO</td>
                <td>JORGE CANALES SALAS</td>
                <td>54</td>
                <td>45</td>
    
                <td><button type="button" class="btn btn-link">Ver</button></td>
              </tr>
          </ng-container>
  
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-12 text-center">
  
        <button class="btn btn-sm btn-primary m-1 shadow" style="min-width: 200px;" type="submit">Exportar a
          excel</button>
        <button class="btn btn-sm btn-primary m-1 shadow" style="min-width: 200px;" type="button"
          routerLink="/denuncia/consulta-investigacion">Retornar</button>
      </div>
    </div>
  </div>



  <ng-template #templateNotaAgente>
    <div class="modal " style="display: block" id="templateshowTerminosYcondiciones" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header bg-title  text-white" >
  
            <h4 class="modal-title " id="modal-basic-title">
              Consulta de Documento de Investigación
            </h4>
  
  
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef?.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4 style="text-align: center">NOTA DE AGENTE</h4>
            <div class="row ">
                <div class="col">
                    <p>Número: NAE-316-2022-15</p>
                </div>
                <div class="col">
                    <p>FECHA ACTUAL: 16/09/2022 09:10</p>
                </div>
            
            </div>
            <div class="row ">
                <div class="col">
                    <p>FECHA DE NUMERACIÓN: 16/09/2022 09:10</p>
                </div>
                <div class="col">
                    <p><strong></strong>  WEB</p>
                </div>
            
            </div>
            <div style="border: thin solid rgb(45, 8, 252)">

                <div class="ms-3 me-3 mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">asunto:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                </div>
         
               <div class="row ms-3 me-3 mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Lista de Investigados:</label>
                            <table class="table table-bordered">
                                <thead class="bg-title-table">
                                    <tr>
                                        <th scope="col">Nro.</th>
                                        <th scope="col">Documento</th>
                                        <th scope="col">Apellidos y Nombres / Razón Social</th>
                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>RUC 204145697979</td>
                                        <td>EMPRESA DE TRANSPORTES SAC</td>
                        
                                    </tr>
                        
                        
                                </tbody>
                            </table>
                </div>         
                <div class="row ms-3 me-3 mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Lista de Modalidad del Delito:</label>
                    <table class="table table-bordered">
                        <thead class="bg-title-table">
                            <tr>
                                <th scope="col">Nro.</th>
                                <th scope="col">Tipo de Ilicito</th>
                                <th scope="col">sub-Tipo de Ilicito</th>
                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>CONTRABANDO RECEPCIONADA</td>
                                <td>DISPONER DE MERCADERIA</td>
                                
                            </tr>
                            <tr>
                                <td colspan="3" >

                                    <table class="table table-bordered">
                                       <tbody>
                                      <tr>
                                        <td>CALZADO</td>
                                        
                                    </tr>  
                                    <tr>
                                        <td>METALES PRECIOSOS</td>
                                    </tr>
                                    </tbody> 
                                    </table>
                                    
                                    
                                </td>
                            </tr>
                
                
                        </tbody>
                    </table>
              </div>   
              <div class="ms-3 me-3 mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Datos Complementarios del Delito:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
                abdabsbdjfjdsbfksbfkjbdskf
                </textarea>
            </div>
            <div class="ms-3 me-3 mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Sustento:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4">
                sunetntoko
                </textarea>
            </div>
            <div class="row ms-3 me-3 mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Lista de Investigados:</label>
                <table class="table table-bordered">
                    <thead class="bg-title-table">
                        <tr>
                            <th scope="col">Nro.</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Detalle</th>
                            <th scope="col">Tamaño</th>
                            <th scope="col">Descargar Archivo</th>
            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Evidencia.jpg</td>
                            <td>evidencia del sucedido</td>
                            <td>124Kb</td>
                            <td> <i class="fa-solid fa-user"></i></td>
                        </tr>
            
            
                    </tbody>
                </table>
    </div> 
            </div> <!--end borde div-->
        


          </div><!-- end body modal -->

          <div class="modal-footer">
            <div class="container">
              <div class="row">
  
                <div class="col " style="text-align: center;">
  
                  <button type="button" class=" btn btn-primary bg-buton btn-xg  text-color" >
                    Exportar a Excel
                  </button>
                  <button type="button" class=" btn btn-primary bg-buton btn-xg  text-color" style="margin-left: 10px">
                    Exportar a Pdf
                  </button>
  
                  <button type="button" class="  btn btn-primary bg-buton btn-xg text-color" style="margin-left: 10px"
                    (click)="modalRef?.hide()">
                    Cerrar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #templatePropuestaInvestigacion>
    <div class="modal " style="display: block" id="templateshowTerminosYcondiciones" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header bg-title  text-white" >
  
            <h4 class="modal-title " id="modal-basic-title">
              Consulta de Documento de Investigación
            </h4>
  
  
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef?.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4 style="text-align: center">PROPUESTA D EINVESTIGACIÓN</h4>
            <div class="row ">
                <div class="col">
                    <p><strong>Número:</strong>  NAE-316-2022-15</p>
                </div>
                <div class="col">
                    <p><strong>FECHA ACTUAL:</strong> 16/09/2022 09:10</p>
                </div>
            
            </div>
            <div class="row ">
                <div class="col">
                    <p><strong>FECHA DE NUMERACIÓN:</strong> 16/09/2022 09:10</p>
                </div>
                <div class="col">
                    <p><strong>ESTADO:</strong> WEB</p>
                </div>
            
            </div>
            <div style="border: thin solid rgb(45, 8, 252)">

                <div class="ms-3 me-3 mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Referencia:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                </div>
                <div class="ms-3 me-3 mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Referencia:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                </div>
         
               <div class="row ms-3 me-3 mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Lista de Investigados:</label>
                            <table class="table table-bordered">
                                <thead class="bg-title-table">
                                    <tr>
                                        <th scope="col">Nro.</th>
                                        <th scope="col">Documento</th>
                                        <th scope="col">Apellidos y Nombres / Razón Social</th>
                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>RUC 204145697979</td>
                                        <td>EMPRESA DE TRANSPORTES SAC</td>
                        
                                    </tr>
                        
                        
                                </tbody>
                            </table>
                </div>         
                <div class="row ms-3 me-3 mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Lista de Modalidad del Delito:</label>
                    <table class="table table-bordered">
                        <thead class="bg-title-table">
                            <tr>
                                <th scope="col">Nro.</th>
                                <th scope="col">Tipo de Ilicito</th>
                                <th scope="col">sub-Tipo de Ilicito</th>
                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>CONTRABANDO RECEPCIONADA</td>
                                <td>DISPONER DE MERCADERIA</td>
                                
                            </tr>
                            <tr>
                                <td colspan="3" >

                                    <table class="table table-bordered">
                                       <tbody>
                                      <tr>
                                        <td>CALZADO</td>
                                        
                                    </tr>  
                                    <tr>
                                        <td>METALES PRECIOSOS</td>
                                    </tr>
                                    </tbody> 
                                    </table>
                                    
                                    
                                </td>
                            </tr>
                
                
                        </tbody>
                    </table>
              </div>   
              <div class="ms-3 me-3 mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Datos Complementarios del Delito:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
                <p>datos complemetadrios del delito</p>
                </textarea>
            </div>

            <div class="row ms-3 me-3 mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Lista de Documentos Adjuntos:</label>
                <table class="table table-bordered">
                    <thead class="bg-title-table">
                        <tr>
                            <th scope="col">Nro.</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Detalle</th>
                            <th scope="col">Tamaño</th>
                            <th scope="col">Descargar Archivo</th>
            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Evidencia.jpg</td>
                            <td>evidencia del sucedido</td>
                            <td>124Kb</td>
                            <td> <i class="fa-solid fa-user"></i></td>
                        </tr>
            
            
                    </tbody>
                </table>
    </div> 
            </div> <!--end borde div-->
        


          </div><!-- end body modal -->

          <div class="modal-footer">
            <div class="container">
              <div class="row">
  
                <div class="col " style="text-align: center;">
  
                  <button type="button" class=" btn btn-primary bg-buton btn-xg  text-color" >
                    Exportar a Excel
                  </button>
                  <button type="button" class=" btn btn-primary bg-buton btn-xg  text-color" style="margin-left: 10px">
                    Exportar a Pdf
                  </button>
  
                  <button type="button" class="  btn btn-primary bg-buton btn-xg text-color" style="margin-left: 10px"
                    (click)="modalRef?.hide()">
                    Cerrar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #templateNotaInteligencia>
    <div class="modal " style="display: block" id="templateshowTerminosYcondiciones" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header bg-title  text-white" >
  
            <h4 class="modal-title " id="modal-basic-title">
              Consulta de Documento de Investigación
            </h4>
  
  
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef?.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4 style="text-align: center">NOTA DE INTELIGENCIA</h4>
            <div class="row ">
                <div class="col">
                    <p ><strong>Número: </strong>NAE-316-2022-15</p>
                </div>
                <div class="col">
                    <p><strong>FECHA ACTUAL:</strong> 16/09/2022 09:10</p>
                </div>
            
            </div>
            <div class="row ">
                <div class="col">
                    <p><strong>FECHA DE NUMERACIÓN:</strong> 16/09/2022 09:10</p>
                </div>
                <div class="col">
                    <p><strong><strong></strong> </strong> WEB</p>
                </div>
            
            </div>
            <div style="border: thin solid rgb(45, 8, 252)">

                <div class="ms-3 me-3 mb-3 mt-2">
                    <p>Documento de Referencia: DEN-316-2022-34</p>
                    <label for="exampleFormControlTextarea1" class="form-label">asunto:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                </div>
                <div class="ms-3 me-3 mb-3 ">
                    
                    <label for="exampleFormControlTextarea1" class="form-label">Antecedentes:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                </div>
               <div class="row ms-3 me-3 mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Lista de Investigados:</label>
                            <table class="table table-bordered">
                                <thead class="bg-title-table">
                                    <tr>
                                        <th scope="col">Nro.</th>
                                        <th scope="col">Documento</th>
                                        <th scope="col">Apellidos y Nombres / Razón Social</th>
                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>RUC 204145697979</td>
                                        <td>EMPRESA DE TRANSPORTES SAC</td>
                        
                                    </tr>
                        
                        
                                </tbody>
                            </table>
                </div>         
                <div class="row ms-3 me-3 mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Lista de Modalidad del Delito:</label>
                    <table class="table table-bordered">
                        <thead class="bg-title-table">
                            <tr>
                                <th scope="col">Nro.</th>
                                <th scope="col">Tipo de Ilicito</th>
                                <th scope="col">sub-Tipo de Ilicito</th>
                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>CONTRABANDO RECEPCIONADA</td>
                                <td>DISPONER DE MERCADERIA</td>
                                
                            </tr>
                            <tr>
                                <td colspan="3" >

                                    <table class="table table-bordered">
                                       <tbody>
                                      <tr>
                                        <td>CALZADO</td>
                                        
                                    </tr>  
                                    <tr>
                                        <td>METALES PRECIOSOS</td>
                                    </tr>
                                    </tbody> 
                                    </table>
                                    
                                    
                                </td>
                            </tr>
                
                
                        </tbody>
                    </table>
              </div>   
              <div class="ms-3 me-3 mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Datos Complementarios del Delito:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
                abdabsbdjfjdsbfksbfkjbdskf
                </textarea>
            </div>
            <div class="ms-3 me-3 mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Análisis:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4">
                sunetntoko
                </textarea>
            </div>
            <div class="row ms-3 me-3 mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Lista de Documentos de Investigación:</label>
                <table class="table table-bordered">
                    <thead class="bg-title-table">
                        <tr>
                            <th scope="col" ><p class="overflow-visible">Tipo Doc. Entidad(A)</p></th>
                            <th scope="col"><p class="overflow-visible">Nro Doc. Entidad(A)</p></th>
                            <th scope="col"><p class="overflow-visible">Entidad(A)</p></th>
                            <th scope="col"><p class="overflow-visible">Vinculo</p></th>
                            <th scope="col"><p class="overflow-visible">Tipo Doc. Entidad(B)</p></th>
                            <th scope="col"><p class="overflow-visible">Nro Doc. Entidad(B)</p></th>
                            <th scope="col"><p class="overflow-visible">Entidad(B)</p></th>
            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">RUC</th>
                            <td>2046758948</td>
                            <td>ALMACEN SUR SAC</td>
                            <td>Gerente General</td>
                            <td>DNI</td>
                            <td>45464712</td>
                            <td>PERES CANALES ESTUPIÑAN</td>
                        </tr>
            
            
                    </tbody>
                </table>
          </div> 
          <div class="ms-3 me-3 mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Recomendaciones:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
            abdabsbdjfjdsbfksbfkjbdskf
            </textarea>
        </div>
        <div class="ms-3 me-3 mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Concluciones:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
            abdabsbdjfjdsbfksbfkjbdskf
            </textarea>
        </div>

        <div class="row ms-3 me-3 mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Lista de Documentos Adjuntos:</label>
            <table class="table table-bordered">
                <thead class="bg-title-table">
                    <tr>
                        <th scope="col">Nro.</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Tamaño</th>
                        <th scope="col">Descargar Archivo</th>
        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>evidencia.jpg</td>
                        <td>Evidencia de lo suce en el preciso momento</td>
                        <td>128Kb</td>
                        <td>128Kb</td>
                    </tr>
        
        
                </tbody>
            </table>
            </div>  
            </div> <!--end borde div-->
        


          </div><!-- end body modal -->

          <div class="modal-footer">
            <div class="container">
              <div class="row">
  
                <div class="col " style="text-align: center;">
  
                  <button type="button" class=" btn btn-primary bg-buton btn-xg  text-color" >
                    Exportar a Excel
                  </button>
                  <button type="button" class=" btn btn-primary bg-buton btn-xg  text-color" style="margin-left: 10px">
                    Exportar a Pdf
                  </button>
  
                  <button type="button" class="  btn btn-primary bg-buton btn-xg text-color" style="margin-left: 10px"
                    (click)="modalRef?.hide()">
                    Cerrar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>