.bg-title-table {
  background-color: #064195;
 color: white;
}

.bg-title {
  background-color: #3492bb;
   /* display: flex;
    align-content: center;*/
  }
.nav-link{
    color: grey !important;
  }
  
  .nav-link.active{
    color: black !important;
  }
  
  .custom-dialog-container .mat-dialog-container {
    padding: unset;
  }
 .text-color{
  color: rgb(255, 255, 255);
 }
 .btn-primary,
 .btn-primary:hover,
 .btn-primary:active,
 .btn-primary:visited,
 .btn-primary:focus {
     background-color: #169BD5;
     border-color: #169BD5;
 }
