/* You can add global styles to this file, and also import other style files */
/*@import "bootstrap/dist/css/bootstrap.css";
@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.min.css";
@import "primeng/resources/themes/nova/theme.css";*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
